@using CMS.Utility;
@using System.Data;
@using CMS.ViewModel.Model;

@{
    if (Session["USER_ID"] == null)
    {
        Response.Redirect("/Account/Index");
    }

    string sCollegeCode = string.Empty;
    string sCollegeLogo = string.Empty;
    string sCollegeName = string.Empty;

}

@if (Session[Common.SESSION_VARIABLES.COLLEGE_DETAILS] != null)
{
    var liCollegeDetails = (List<CollegeDetails>)Session[Common.SESSION_VARIABLES.COLLEGE_DETAILS];
    sCollegeCode = liCollegeDetails.FirstOrDefault().COLLEGE_CODE;
    sCollegeLogo = liCollegeDetails.FirstOrDefault().COLLEGE_LOGO;
    sCollegeName = liCollegeDetails.FirstOrDefault().COLLEGE_NAME;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>@sCollegeCode Admin |@ViewBag.Title </title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    @Styles.Render("~/bundles/basecss")

    @Scripts.Render("~/bundles/headerbasejs")
    @RenderSection("styles", required: false)
    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->

    <style>
        @@font-face {
            font-family: "Bamini";
            src: url('../../Content/assets/TamilFont/Bamini_Plain.ttf');
        }

        @@font-face {
            font-family: "Baamini";
            src: url('../../Content/assets/TamilFont/Baamini.ttf');
        }

        @@font-face {
            font-family: "Tamil_2016_Bam";
            src: url('../../Content/assets/TamilFont/Tamil_2016_Bam.ttf');
        }

        @@font-face {
            font-family: "Kruti Dev 010";
            src: url('../../Content/assets/TamilFont/k010.ttf');
        }

        @@font-face {
            font-family: "Kruti Dev 011";
            src: url('../../Content/assets/TamilFont/k11.ttf');
        }
    </style>




 
</head>

<body>
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    <!-- end #page-loader -->
    <!-- begin #page-container -->
    <div id="page-container" class="fade page-sidebar-fixed page-header-fixed page-with-light-sidebar ">
        <!-- begin #header -->
        <div id="header" class="header navbar navbar-default navbar-fixed-top">
            <!-- begin container-fluid -->
            <div class="container-fluid">
                <!-- begin mobile sidebar expand / collapse button -->
                <div class="navbar-header">
                    <a href="#" class="navbar-brand"><span class="navbar-logo"><i class="ion-ios-cloud"></i></span> <b>@sCollegeCode ERP</b></a>
                    <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- end mobile sidebar expand / collapse button -->
                <!-- begin header navigation right -->
                <ul class="nav navbar-nav navbar-right">

                    @*<li>
                        <form class="navbar-form full-width">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter keyword" />
                                <button type="submit" class="btn btn-search"><i class="ion-ios-search-strong"></i></button>
                            </div>
                        </form>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle icon">
                            <i class="ion-ios-bell"></i>
                            <span class="label">5</span>
                        </a>
                        <ul class="dropdown-menu media-list pull-right animated fadeInDown">
                            <li class="dropdown-header">Notifications (5)</li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="ion-ios-close-empty media-object bg-red"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">Server Error Reports</h6>
                                        <div class="text-muted f-s-11">3 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><!--<img src="#" class="media-object" alt="" />--></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">John Smith</h6>
                                        <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                        <div class="text-muted f-s-11">25 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><!--<img src="#" class="media-object" alt="" />--></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">Olivia</h6>
                                        <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                        <div class="text-muted f-s-11">35 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="ion-ios-plus-empty media-object bg-blue"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading"> New User Registered</h6>
                                        <div class="text-muted f-s-11">1 hour ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="ion-ios-email-outline media-object bg-blue"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading"> New Email From John</h6>
                                        <div class="text-muted f-s-11"> 2 hour ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-footer text-center">
                                <a href="javascript:;">View more</a>
                            </li>
                        </ul>
                    </li>*@
                    <li class="dropdown navbar-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="user-image online">
                                @{
                                    if (Session[Common.SESSION_VARIABLES.PHOTO] != null && !string.IsNullOrEmpty(Session[Common.SESSION_VARIABLES.PHOTO].ToString()))
                                    {
                                        <img src="@Session[Common.SESSION_VARIABLES.PHOTO].ToString()" alt="" />
                                    }
                                    else
                                    {
                                        <img src="~/Content/assets/img/user_icon.png" alt="" />
                                    }
                                }

                            </span>
                            <span class="hidden-xs"> @Session[Common.SESSION_VARIABLES.USERNAME]</span> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu animated fadeInLeft">
                            <li class="arrow"></li>

                            @*<li><a href="@Url.Action("StaffProfileView", "Staff")">View Profile</a></li>*@


                            @*<li><a href="javascript:;"><span class="badge badge-danger pull-right">2</span> Inbox</a></li>*@
                            @*<li><a href="javascript:;">Calendar</a></li>*@
                            <li><a href="@Url.Action("ChangePassword", "Account")">Change Password</a></li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Log Out", "SignOut", "Account")</li>
                        </ul>
                    </li>
                </ul>
                <!-- end header navigation right -->
            </div>
            <!-- end container-fluid -->
        </div>
        <!-- end #header -->
        <!-- begin #sidebar -->
        <div id="sidebar" class="sidebar">
            <!-- begin sidebar scrollbar -->
            <div data-scrollbar="true" data-height="100%">
                <!-- begin sidebar user -->
                <ul class="nav">
                    <li class="nav-profile">
                        <div class="image">
                            <a href="javascript:;">
                                @{
                                    if (Session[Common.SESSION_VARIABLES.PHOTO] != null && !string.IsNullOrEmpty(Session[Common.SESSION_VARIABLES.PHOTO].ToString()))
                                    {
                                        <img src="@Session[Common.SESSION_VARIABLES.PHOTO].ToString()" alt="" />
                                    }
                                    else
                                    {
                                        <img src="~/Content/assets/img/user_icon.png" alt="" />
                                    }
                                }
                            </a>
                        </div>
                        <div class="info">
                            Welcome  <small>@Session[Common.SESSION_VARIABLES.USERNAME]</small>
                        </div>
                    </li>
                </ul>
                <!-- end sidebar user -->
                <!-- begin sidebar nav -->
                <ul class="nav">
                    <li class="nav-header">Navigation</li>
                    @{
                        if (Session[Common.SESSION_VARIABLES.MENU_ITEMS] != null)
                        {
                            DataTable dtMenu = new DataTable();
                            string sParent = string.Empty;
                            dtMenu = (DataTable)Session[Common.SESSION_VARIABLES.MENU_ITEMS];
                            if (dtMenu != null && dtMenu.Rows.Count > 0)
                            {
                                DataColumn dCol = new DataColumn();
                                dCol = dtMenu.Columns[Common.MODULES.MODULE_NAME];
                                DataTable dtParent = new DataTable();
                                dtParent = dtMenu.DefaultView.ToTable(true, Common.MODULES.MODULE_NAME, Common.MODULES.STYLE, Common.MODULES.HAS_SUB);
                                foreach (DataRow item in dtParent.Rows)
                                {
                                    <li class="has-sub">
                                        <a href="javascript:;">
                                            <b class="caret pull-right"></b>
                                            <i class="@item[Common.MODULES.STYLE]"></i>
                                            <span>@item[Common.MODULES.MODULE_NAME]</span>
                                        </a>
                                        @if (item[Common.MODULES.HAS_SUB].ToString() == "1")
                                        {
                                            DataTable dtSub = new DataTable();
                                            DataRow[] drSub = dtMenu.Select(Common.MODULES.MODULE_NAME + "='" + item[Common.MODULES.MODULE_NAME].ToString() + "'");
                                            //   DataRow[] drSub = dtMenu.Select("MODULE_NAME='DASHBOARD'");
                                            <ul class="sub-menu">
                                                @foreach (DataRow subItem in drSub)
                                                {
                                                    <li>

                                                        @*@Html.ActionLink(subItem[Common.MENU_ITEMS.MENU_NAME].ToString(), subItem[Common.MENU_ITEMS.ACTION].ToString(), subItem[Common.MENU_ITEMS.CONTROLLER].ToString(), new { onclick = "loadContent(/" + subItem[Common.MENU_ITEMS.CONTROLLER].ToString() + "/" + subItem[Common.MENU_ITEMS.ACTION].ToString() + ")" })*@
                                                        <a href="javascript:;" onclick="loadContent('/@subItem[Common.MENU_ITEMS.CONTROLLER].ToString()/@subItem[Common.MENU_ITEMS.ACTION].ToString()')">@subItem[Common.MENU_ITEMS.MENU_NAME].ToString()</a>


                                                    </li>}
                                            </ul>
                                        }
                                    </li>


                                }
                                <!--     <li class="has-sub">
                                    <a href="javascript:;">
                                        <b class="caret pull-right"></b>
                                        <i class="fa fa-inr  bg-gradient-blue"></i>
                                        <span>Test</span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li onclick="loadContent('/fee/AddOrEditFeeStructure')">TestLink</li>
                                    </ul>
                                </li>-->

                            }
                        }
                    }

                    <!-- begin sidebar minify button -->
                    <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="ion-ios-arrow-left"></i> <span>Collapse</span></a></li>
                    <!-- end sidebar minify button -->
                </ul>
                <!-- end sidebar nav -->
            </div>
            <!-- end sidebar scrollbar -->
        </div>
        <div class="sidebar-bg"></div>
        <!-- end #sidebar -->


        <div id="loadContent">
            @RenderBody()
        </div>



        <div class="col-md-12">
            <!-- begin #footer -->
            <div id="footer" class="footer">
                &copy; @DateTime.Today.Year   All Rights Reserved by @sCollegeCode
            </div>
            <!-- end #footer -->
        </div>

 
        <a href="javascript:;" class="btn btn-icon btn-circle btn-primary btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
        <!-- end scroll to top btn -->
    </div>


    @Scripts.Render("~/bundles/footerbasejs")

    @*@Scripts.Render("~/bundles/angularJS")*@

    @RenderSection("scripts", required: false)


    @Scripts.Render("~/bundle/pagebeginjs")

    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scriptsafterbase", required: false)

    <script>
        var currentUrl;
        var WelcomeMgs = '@Session[Common.SESSION_VARIABLES.USERNAME].ToString()';
        var time = new Date().getHours(); var greeting = 'Good ' + (time < 12 ? 'Morning' : time < 16 ? 'Afternoon' : 'Evening');
        function addLoadingPanel() {
            var a = $('#panel').closest(".panel");
            if (!$(a).hasClass("panel-loading")) {
                var t = $(a).find(".panel-body");
                $(a).addClass("panel-loading"), $(t).prepend('<div class="panel-loader"><span class="spinner-small"></span></div>')
            }
        }

        function removeload() {

            var a = $('#panel').closest(".panel");
            if ($(a).hasClass("panel-loading")) {
                var t = $(a).find(".panel-body");
                $(a).removeClass("panel-loading"), $(a).find(".panel-loader").remove()
            }
        }
        function loadContent(link) {
            currentUrl = link;
            $('#page-loader').removeClass('fade in hide');
            $('#page-loader').addClass('fade in ');
            $("#loadContent").empty();
            $("#loadContent").load(link, function (responseTxt, statusTxt, jqXHR) {
                if (statusTxt == "success") {
                    $('#page-loader').removeClass('fade in ');
                    $('#page-loader').addClass('fade in hide');
                    ContentLoad();
                    // myAlert('sucess', 'bg-green-lighter');
                } else {
                    alert(responseTxt);
                    $('#page-loader').removeClass('fade in');
                    $('#page-loader').addClass('fade in hide');
                }
                if (statusTxt == "error") {
                    alert("Error: " + jqXHR.status + " " + jqXHR.statusText);
                    $('#page-loader').removeClass('fade in ');
                    $('#page-loader').addClass('fade in hide');
                }
            });


        }




        //
        function loadContent1(link, Div) {
            currentUrl = link;
            $('#page-loader-index').removeClass('fade in hide');
            $('#page-loader-index').addClass('fade in ');
            //alert("#" + Div + "");
            $("#" + Div + "").empty();
            $("#" + Div + "").load(link, function (responseTxt, statusTxt, jqXHR) {
                if (statusTxt == "success") {
                    $('#page-loader-index').removeClass('fade in ');
                    $('#page-loader-index').addClass('fade in hide');

                    ContentLoad();
                    // myAlert('sucess', 'bg-green-lighter');
                } else {
                    alert(responseTxt);
                    $('#page-loader-index').removeClass('fade in');
                    $('#page-loader-index').addClass('fade in hide');
                }
                if (statusTxt == "error") {
                    alert("Error: " + jqXHR.status + " " + jqXHR.statusText);
                    $('#page-loader-index').removeClass('fade in ');
                    $('#page-loader-index').addClass('fade in hide');
                }
            });
        }

        //
        function changeAcademicYear(AcademicYear) {
            swal({ title: "The Academic Year is " + AcademicYear + " !", text: "For change academic year go to AcademicYearInfo in Feedback Menu", icon: 'success', animation: true });
        }




        $(document).ajaxStart(function () {
            addLoadingPanel();

        });

        $(document).ajaxStop(function () {
            removeload();

        });

        $(document).ajaxError(function () {
            removeload();
        });



        $(document).ready(function () {
            App.init();
            @*var voiceFlag='@Session["Voice"]';

            if (voiceFlag=='')
                speak('Hello ' + WelcomeMgs + ', Have a ' + greeting + '. I am your ERP assistant.');*@



        });
        function myAlert(message, class_name, image) {
            if (message != '') {
                var icon;
                if (class_name == 'gritter-success') {
                    icon = 'ion-happy';
                } else if (class_name == 'gritter-danger') {
                    icon = 'ion-ios-close';
                } else if (class_name == 'gritter-info') {
                    icon = 'ion-ios-information-outline';
                } else if (class_name == 'gritter-warning') {
                    icon = 'ion-sad';
                } else {
                    icon = 'ion-ios-information-outline';
                }
                if (image != '') {
                    $.gritter.add({
                        title: "Message",
                        text: message,
                        time: 4000, class_name: class_name, image: image
                    });
                } else {
                    $.gritter.add({
                        title: "Message",
                        text: message,
                        time: 4000, class_name: class_name, icon: icon
                    });
                }

            }

        }
        function speak(text, callback) {
            var u = new SpeechSynthesisUtterance();
            var voices = speechSynthesis.getVoices();
            u.text = text;
            u.lang = 'en-US';
            u.onend = function () {
                if (callback) {
                    callback();
                }
            };

            u.onerror = function (e) {
                if (callback) {
                    callback(e);
                }
            };
            @{Session["Voice"] = "0";
            }
            window.speechSynthesis.speak(u);
        }
    </script>

    <script>
        //(function (i, s, o, g, r, a, m) {
        //    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        //        (i[r].q = i[r].q || []).push(arguments)
        //    }, i[r].l = 1 * new Date(); a = s.createElement(o),
        //    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        //})(window, document, 'script', 'www.google-analytics.com/analytics.js', 'ga');

        //ga('create', 'UA-53034621-1', 'auto');
        //ga('send', 'pageview');

    </script>

    @*<script src="~/Scripts/MyApp.js"></script>*@


</body>
</html>
